main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imagem-principal {
  max-width: 45%;
  height: auto;
  border-radius: 100% 100% 100% 50%;
  padding: 1rem;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 1080px) {
  .main-section {
    flex-direction: row;
  }
  .benef-section {
    flex-direction: row;
  }
}

.headline {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

span {
  font-size: 1.25rem;
  font-weight: 700;
  color: #555;
}

h1 {
  font-size: 5vw; /* responsivo baseado na largura da tela */
  font-weight: 900;
  text-align: left;
}

.benef-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .benef-data {
    border-bottom: 0.3rem solid #555;
    padding-bottom: 0.5rem;

    h2 {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    padding: 1rem;
    max-width: 90%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .benef-section {
    flex-direction: row;
    p {
      text-align: left;
    }
  }
}

.cta-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
